@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --irnter: 'Inter', sans-serif;
    --russo: 'Russo One', sans-serif;
}