@import url(./Font.css);

body {
    margin: 0;
    background: #ECF2F8;
}

* {
    box-sizing: border-box;
    border: none;
    font-family: var(--BarlowSemi);
    margin: 0;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 24px;
    margin-block: 72px;

}

.container {
    width: 100%;
    margin: auto;

}

.container-box {
    padding-left: 32px;
    padding-top: 25px;
    margin-bottom: 23px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.25);

}

.fullname {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
}

.verified-graduate {
    color: #FFF;
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    opacity: 0.5;
}

h1 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.container1 {
    background: #733FC8;
    position: relative;
    border-radius: 8px;
    z-index: 1;

}

.quote {
    position: absolute;
    top: 0px;
    right: 24px;
    z-index: -1;
}

.profileinfo {
    display: flex;
    align-items: center;
    gap: 17px;
    padding-bottom: 18px;
}

.container1 h1 {
    padding-bottom: 40px;
    padding-right: 32px;
    color: #FFF;
    padding-right: 32px;

}

.container1 p {
    color: #CFCFCF;
    opacity: 0.7;
    padding-bottom: 48px;
    padding-right: 48px;
}

.container2 {
    border-radius: 8px;
    background: #48556A;
}

.container2 h1 {
    padding-bottom: 16px;
    padding-right: 32px;
    color: #FFF;
}

.container2 p {
    color: #CFCFCF;
    opacity: 0.7;
    padding-bottom: 32px;
    padding-right: 32px;
}

.container3 {
    border-radius: 8px;
    background: #FFF;
}

.container3 .fullname,
.verified-graduate {
    color: #48556A;
}

.container3 h1,
p {
    color: #48556A;
}

.container3 h1 {
    padding-bottom: 16px;
    padding-right: 32px;
    color: #48556A;

}

.container3 p {
    color: #48556A;
    opacity: 0.7;
    padding-bottom: 32px;
    padding-right: 32px;
}

.container4 {
    border-radius: 8px;
    background: #19202D;
}

.container4 .fullname,
.verified-graduate {
    color: #FFF;
    
}

.container4 h1,
p {
    color: #FFF;
}

.container4 h1 {
    padding-bottom: 16px;
    padding-right: 32px;
    color: #ECF2F8;

}

.container4 p {
    color: #FFF;
    opacity: 0.7;
    padding-bottom: 32px;
    padding-right: 32px;
}


.container5 {
    border-radius: 8px;
    background: #FFF;
}

.container5 .fullname,
.verified-graduate {
    color: #48556A;
}

.container5 h1,
p {
    color: #48556A;
}

.container5 h1 {
    padding-bottom: 16px;
    padding-right: 32px;
    color: #48556A;

}

.container5 p {
    color: #48556A;
    opacity: 0.7;
    padding-bottom: 32px;
    padding-right: 32px;
}

@media (width > 720px) {
    .container {
        display: grid;
        justify-content: center;
        align-content: center;
        min-height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 164px 165px;
        grid-column-gap: 30px;
    }
    
    

    .container1 {
        grid-area: 1 / 1 / 2 / 3;
    }
    
    .container4 {
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .container4 {
        grid-area: 2 / 2 / 3 / 4;
    }
    
    .container2 {
        grid-area: 1 / 3 / 2 / 4;
    }
    
    .container5 {
        grid-area: 1 / 4 / 3 / 5;
    }
}