:root {
    --lightpurple: #666CA3;
    --darkblue: #13183F;
    --grey: #83869A;
    --pink: #F74780;
    --lightpink: #FFA7C3;
    --white: #FFFFFF;
    --mixedpink: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --mixedpurple: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
    --button-2-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --button-3-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    
}