@import url(Fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: var(--poppins);
    margin: 0;
}

.container {
    width: 378px;
    margin: auto;
}

.mobilenavbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;

}

.mobileimgnavbar {
    display: flex;
    justify-content: center;
}

.mobileimgnavbar .searchicon {
    padding-left: 25px;
}

.firstbackground {
    background: #00000026;
    width: 84px;
    border-radius: 50%;
}

.MainForcastContainer h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin-top: 55px;
    background: linear-gradient(180deg, #2E386B 46.43%, #D1D1D1 110.05%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 28px;
}