@import url(./Styles/Fonts.css);

body {
    margin: 0;
    background: linear-gradient(180deg, #1E2C37 0%, #1F3341 100%);
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 378px;
    margin: auto;
}

header {
    margin-top: 68px;
}

.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.darkmode {
    width: 84px;
    border-radius: 19px;
    background: #FFFFFF4D;
    padding-block: 3px;
    padding-left: 5px;
}

.moonlogo {
    padding: 8px;
}

.moonlogocontainer {
    background-color: #2B404F;
    width: 32px;
    border-radius: 50%;
    height: 32px;
}

.headericoncontainer {
    display: flex;
}

.searchsvg {
    padding-right: 25px;
}

.burgermenu {
    padding-left: 7px;
}

.infocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.infocontainer .tbilisiregion {
    display: flex;
    gap: 5px;
    color: #FFF;
    text-align: center;
    font-family: var(--poppins);
    /* font-size: 40px; */
    font-weight: 300;
    letter-spacing: 0.4px;
}

.todayinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todayinfo h1 {
    color: #FFF;
    font-family: var(--poppins);
    font-size: 80px;
    font-weight: 300;
    letter-spacing: 1.6px;
}

.todayinfo p {
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: var(--opensans);
    font-size: 14px;
    font-weight: 400;
    padding-inline: 105px;
}

.dateandtimecontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 32px;


}

.hourlycontainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 24px;
    background: rgba(0, 0, 0, 0.30);
    border-radius: 18px;
}

.celsiusandtime {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    color: #FFF;
    font-family: var(--opensans);
    font-size: 14px;
    font-weight: 400;
    padding-block: 24px;
    gap: 4px;
    width: 30px;
}

.time,
.celsius,
.celsiusandtimelogo {
    display: flex;
    align-items: center;
}

.sevendaysforecast {
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.30);
    padding-inline: 24px;
    padding-block: 20px;
}

.daysforecastoptions {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: var(--poppins);
    align-items: center;
    margin-bottom: 22px;
}

.daysforecastoptions h2 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
}

.dateptions {
    border-radius: 17px;
    background: rgba(112, 112, 112, 0.20);
    padding-inline: 14px;
    padding-block: 6px;
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 14px;
    font-weight: 600;
}

.sevendays img {
    width: 25px;
}

.logoandcelsius {
    display: flex;
    gap: 11px;
}

.logoandcelsius div {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.logoandcelsius span {
    color: rgba(255, 255, 255, 0.40);
    font-size: 18px;
}

.infooftheday {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.40);
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 400;
    align-items: center;
}

.highlights {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 61px;
}

.box {
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.30);
    font-family: var(--poppins);
}

.box h3 {
    color: rgba(255, 255, 255, 0.70);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
    padding-left: 20px;
    padding-top: 13px;
}

.sunriseandsunset {
    display: flex;
    padding-inline: 12px;
    justify-content: space-between;
}

.highlights p {
    color: rgba(255, 255, 255, 0.60);
}

.box1 p {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 17px;
}

.box1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 28px;
}

.box2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 97px;
    position: relative;
}

.box2 img {
    position: absolute;
    top: 13px;
    position: absolute;
}

.box2 span {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
}

.sunrise {
    padding-top: 10px;
}

.sunset {
    padding-left: 45px;
}

.box4 div {
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: baseline;
}

.box4 h1 {
    color: #FFF;
    font-family: var(--poppins);
    font-size: 50px;
    font-weight: 500;
}

.box4 h1 span {
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.54px;
}

.box4 p {
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
}

.box5 div {
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: baseline;
}


.box5 h1 {
    color: #FFF;
    font-family: var(--poppins);
    font-size: 50px;
    font-weight: 500;
}

.box5 h1 span {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.box5 p {
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
}


.box6 div {
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: baseline;
}

.box6 h1 {
    color: #FFF;
    font-family: var(--poppins);
    font-size: 50px;
    font-weight: 500;
}

.box6 p {
    padding-left: 20px;
    padding-right: 19px;
    font-size: 12px;
    font-weight: 400;
}

.menuhtml {
    display: none;
}

.Pagemenu {
    display: none;
}

.Navbardesktop {
    display: none;
}

.settingscontainer {
    display: none;
}

@media (min-width: 1400px) {

    body {
        background: #121212;
    }


    .Mobileheader {
        display: none;
    }

    header {
        width: 121px;

    }

    header h1 {
        color: rgba(255, 255, 255, 0.60);
        font-family: var(--poppins);
        font-size: 16px;
        font-weight: 400;
        padding-top: 103px;
        padding-bottom: 11px;
    }

    .line {
        width: 121px;
        height: 1px;
        background: rgba(255, 255, 255, 0.30);
        margin-bottom: 25px;
    }

    .desktopheader {
        border-radius: 34px;
        background: linear-gradient(180deg, #1E2C37 0%, #1F3341 100%);
        backdrop-filter: blur(14px);
        margin: 0;
        margin-left: 21px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 342px;

    }

    .Navbardesktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logos {
        display: flex;
        flex-direction: column;
        padding-inline: 45px;
        gap: 45px;
    }

    .settingscontainer {
        display: flex;
        flex-direction: column;
        padding-inline: 45px;
        gap: 45px;
        padding-bottom: 45px;
    }

    .darkmode {
        display: flex;
        align-self: center;x
    }

}