.MainForcastContainer h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin-top: 55px;
    margin-bottom: 28px;
    background: linear-gradient(180deg, #2E386B 46.43%, #D1D1D1 110.05%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 10px;
}

.forecast img {
    width: 76px;
    height: 76px;
}


.forecast h1 {
    margin: 0;
}

.forecast div {
    border-radius: 18px;
    background: linear-gradient(180deg, #DEE4E7 0%, #F4F2F2 100%);
    padding-top: 44px;
    padding-bottom: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast div div {
    display: flex;
    align-items: center;
    gap: 19px;
    gap: 10px;
    color: #000;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.66px;
    flex-direction: row;

}