.MainForcastContainer h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin-top: 55px;
    margin-bottom: 28px;
    background: linear-gradient(180deg, #2E386B 46.43%, #D1D1D1 110.05%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}