@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --poppins: 'Poppins', sans-serif;;
}

* {
    font-family: var(--poppins);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 378px;
    margin: auto;
}

.mobilenavbarcontainer {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;
}

.mobileimgnavbar {
    display: flex;
    justify-content: center;
}

.mobileimgnavbar .searchicon {
    padding-left: 25px;
}

.firstbackground {
    background: #00000026;
    width: 84px;
    border-radius: 50%;
}

.mobilepresentforcast {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

.presentday {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
    color: #000;
    font-size: 40px;
    font-weight: 300;
}


.mobilepresentforcast .celsius {
    color: #000;
    font-size: 80px;
    font-weight: 300;
}

.mobilepresentforcast p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-weight: 400;
    padding-inline: 105px;
    text-align: center;
}

.desktopnavbarcontainer,
.Desktoppresentforcast {
    display: none;
}

.presentforcast {
    display: flex;
    padding-inline: 24px;
    justify-content: space-evenly;
    border-radius: 18px;
    background: linear-gradient(180deg, #DEE4E7 0%, #F4F2F2 100%);
    padding-block: 25px;
}

.hourly {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.hourly .date,
.hourly .celsiusbyhour,
.choosedatecontainer h1,
.shvididgisprognozi div {
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.choosedatecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 14px;
}

.choosedate {
    border-radius: 17px;
    background: rgba(112, 112, 112, 0.20);
    display: flex;
    align-items: center;
    padding-inline: 18px;
}

.choosedate span {
    font-size: 12px;
    font-weight: 500;
    color: white;
    height: fit-content;
    padding-block: 7px;
}

.sevendaysforcast {
    margin-top: 10px;
    padding-inline: 24px;
    border-radius: 18px;
    background: linear-gradient(180deg, #DEE4E7 0%, #F4F2F2 100%);
}


.shvididgisprognozi {
    display: flex;
    justify-content: space-between;
}

.sevendayforcastcontainer {
    display: flex;
    gap: 17px;
    flex-direction: column;
    padding-bottom: 18px;
}

.shvididgisprognozi div {
    font-size: 20px;
    letter-spacing: 0.6px;
}

.shvididgisprognozi span,
.shvididgisprognozi p {
    color: rgba(0, 0, 0, 0.40);
    font-size: 18px;
    font-weight: 400;
}

.shvididgisprognozi p {
    font-size: 14px;
}

.shvididgisprognozi .dayoftheweek {
    color: rgba(0, 0, 0, 0.40);
    text-align: right;
    font-size: 14px;
    font-weight: 400;
}

.desktopchooseyourdate,
.desktopsevendaysinfo,
.mainhighlight,
.hilightimage,
.Advertising {
    display: none;
}

.mobilehilights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.box {
    border-radius: 18px;
    background: linear-gradient(180deg, #DEE4E7 0%, #F4F2F2 100%);
}

.box h1 {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-weight: 400;
    padding-top: 13px;
}

.box1 img {
    padding: 28px 56px 10px;
}

.box1 p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}


.box2 img {
    padding: 13px 23px 0;
}

.box3 img {
    padding-top: 10px;
}

.box3 div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-inline: 12px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
}

.box3 .boxcontainer,
.mobilehumiditycontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobilehumiditycontainer {
    padding-inline: 20px;
}

.mobilehumiditycontainer div {
    color: #000;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.mobilehumiditycontainer span {
    color: rgba(0, 0, 0, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.box4 p,
.box5 p,
.box6 p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.36px;
    padding-inline: 20px;
}

.main {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -950px;
    z-index: 2;
    background-color: #ECEDF1;
    height: 844px;
}

.selector {
    width: 387px;
    margin: auto;
}

header {
    display: flex;
    justify-content: end;
    margin: 20px 19px 26px;
}

.navi {
    color: rgba(0, 0, 0, 0.70);
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.44px;
    text-decoration: none;
}

.partofnavbar:hover {
    cursor: pointer;
    background: linear-gradient(92deg, #000 -277.19%, rgba(255, 255, 255, 0.00) 98.79%);
}

.partofnavbar {
    display: flex;
    gap: 30px;
    padding-inline: 40px;
    padding-block: 23px;
    margin-bottom: 4px;
}
.backmenu:hover, .burgermenu {
    cursor: pointer;
}

.active{
    display: flex;
    animation: slider 0.5s forwards;
}

@keyframes slider {
    from {top: -950px;}
    to {top: 0;}
  }
  