:root {
    --red: #EA5454;
    --ligthgreen: #44D3D2;
    --orange: #FCAE4A;
    --blue: #FCAE4A;
    --darkgrey: #4D4F62;
    --white: #fff;
    --background: #FAFAFA;
}

:root {
    --poppins: 'Poppins', sans-serif;
}