@import url(./Root.css);

body {
    margin: 0;
    background-color: var(--background);
}

* {
    box-sizing: border-box;
    font-family: var(--poppins)
}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--darkgrey);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

p {
    color: var(--darkgrey);
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    align-items: center;
    opacity: 0.5;
    letter-spacing: 0.09px;
    line-height: 23px;
    margin: 0;
}

.container {
    width: 100%;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 32px;
    padding-top: 85px;
}

header p {
    font-size: 15px;
    text-align: center;
    padding-bottom: 76px;
    line-height: 25px;
    letter-spacing: 0.104px;
}

header h1 {
    font-size: 24px;
    font-weight: 275;
    letter-spacing: 0.167px;
    margin: 0;
    font-weight: 275;

}

span {
    font-weight: 600;
    padding-bottom: 13px;
    padding-inline: 8px;
    color: var(--darkgrey);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.167px;
}

.boxcontainer {
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    width: 311px;
    padding-top: 27px;
    padding-left: 28px;
    height: 222px;
    position: relative;
}

.top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.552px;
    overflow: hidden;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.boxcontainer img {
    position: absolute;
    top: 137px;
    left: 226px;
}

.box1 .top-overlay {
    background-color: var(--ligthgreen);
}

.box2 .top-overlay {
    background-color: var(--red);
}

.box3 .top-overlay {
    background-color: var(--orange);
}

.box4 .top-overlay {
    background-color: var(--blue);
}

.box4 {
    margin-bottom: 78px;
}

.box3 {
    margin-bottom: 24px;
}

.box2 {
    margin-bottom: 23px;
}

.box1 {
    margin-bottom: 25px;
}


@media (min-width: 992px) {
    .maincontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    header p {
        text-align: center;
        letter-spacing: 0.104px;
        opacity: 0.5;
    }

    header h1 {
        font-size: 36px;
        font-weight: 275;
        letter-spacing: 0.25px;
    }

    span {
        font-size: 36px;
        letter-spacing: 0.25px;
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .box1 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .box2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .box3 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .box4 {
        grid-area: 2 / 3 / 3 / 4;
    }



}