    @import url(./design.css);

body {
    margin: 0;
    background-color: var(--white);
}

* {
    box-sizing: border-box;
    font-family: var(--barlow);
}

.container {
    width: 100%;
    padding-inline: 24px;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
    padding-bottom: 64px;
}

.parentbutton-1 {
    display: flex;
    gap: 32px;
    padding-bottom: 67px;
}

.parentbutton-1 .button-1 {
    width: 150px;
    height: 48px;
}

.release-date {
    color: var(--darkgrey);
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.typemaster-container img {
    border-radius: 20px;
    position: sticky;
    right: 0;
}

.desktop-keyborad {
    display: none;
}

.greybackgraund {
    display: none;
}


/* Respononsive breakpoints */

@media (min-width: 768px) {
    .container {
        padding-inline: 40px;
    }

    .typemaster-container img {
        position: initial;
    }

    header .container {
        padding-top: 40px;
    }

    .typemaster-container {
        display: flex;
        padding-right: 0px;
        justify-content: space-between;
    }

    .typemaster-container p {
        padding-right: 69px;
    }

    .typemaster-container h1 {
        padding-top: px;
    }

    .parentbutton-1 {
        display: flex;
        gap: 32px;
    }

    .parentbutton-1 h1 {
    }

    h1 {
        margin-bottom: 34px;
    }

    p {
        margin-bottom: 39px;
    }

    .button-1 {
        width: 175px;
        height: 58px;
    }

}


@media (min-width: 992px) {
    .container {
        padding-inline: 165px;
    }

    header {
        padding-bottom: 152px;
    }

    .typemaster-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 138px;
    }

    .button-1 {
        width: 175px;
        height: 58px;
    }

    .button-1,
    .button-2 {
        cursor:  pointer;
    }

    .typemasterdiv {
        padding-right: 125px; 
    }

    .mobilekeyboad {
        display: none;
    }

    .desktop-keyborad {
        display: initial;
    }

    .container .greybackgraund {
        display: initial;
        position: absolute;
        padding-left: 30px  ;
    }

}