@import url(./Design/colors.css);
@import url(./Design/typograohy.css);
@import url(./Design/buttons.css);

* {
    font-family: var(--Plusjakartasans);
}

body {
    margin: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 38px;
}

.container {
    width: 343px;
    margin: auto;
}

h2 {
    padding-bottom: 26px;
}

.getstarted-container p {
    padding-bottom: 24px;
}

.woman-svg {
    width: 100%;
    /* margin-bottom: 90px;  */
}

.rectangle {
    display: none;
}

.tablet-woman-svg {
    display: none;
}

.tablet-rectangle {
    display: none;
}

.rectangle {
    display: none;
}

.desktop-woman-svg {
    display: none;
}

.box-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box1 {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
    color: var(--white);
    line-height: 32px;
    padding-inline: 29px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.box {
    position: relative;
    padding-inline: 29px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
}

.box img {
    position: absolute;
    top: -24px;
}

.box h4 {
    padding-top: 56px;
    padding-bottom: 16px;
    margin: 0;
}

.box p {
    margin: 0;
    padding-bottom: 24px;
}

.box h5 {
    color: var(--pink);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 32px;
    margin: 0;
}

.box6 {
    margin-bottom: 80px;
}

footer {
    background: var(--darkblue);
    padding-inline: 16px;
    padding-block: 36px;
    display: flex;
    justify-content: space-between;
}

footer .skilled {
    color: var(--white);
}

footer button {
    border-radius: 28px;
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
}

/* Responsive breakpoint */

@media (min-width: 768px) {
    .container {
        width: 720px;
    }

    .getstarted-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 33px 1px;
        margin-top: 67px;
        margin-bottom: 250px;
    }

    header {
        position: relative;
    }

    .woman-svg {
        display: none;
    }

    .tablet-woman-svg {
        display: initial;
        position: absolute;
        top: 0;
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 11px;
        grid-row-gap: 56px;
    }

    .box1 {
        margin: 0;
        padding-left: 32px;
        padding-right: 21px;
    }

    .box6 {
        margin-bottom: 0;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    header {
        position: relative;
    }

    .tablet-woman-svg {
        display: none;
    }

    .getstarted-container {
        margin-bottom: 384px;
    }

    .desktop-woman-svg {
        display: initial;
        position: absolute;
        top: 0;
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 80px;
    }

    .box1 {
        margin: 0;
        padding-inline: 32px;
        padding-top: 64px;
        /* padding-bottom: 138px ; */
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
    }

    .box6 {
        margin-bottom: 0;
    }
}